@import '../../static/fonts/fonts.css';

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.question,
.scene {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.scene {
  font-family: 'Input Mono';
  font-style: normal;
}

.question {
  font-family: 'Franklin Gothic';
  font-style: italic;
  font-weight: 500;
  font-size: 50px;
}