@import '../fonts.css';
@import '../reset.css';

body {
  min-height: 100vh;

  font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;

  background-image: url('/assets/grain.png');
  font-weight: 300;
}

button:hover {
  cursor: pointer;
}
