@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/Franklin Gothic/FranklinGothicURW - Book.woff) format('woff'),
    url(/fonts/Franklin Gothic/FranklinGothicURW - Book.woff2) format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/Franklin Gothic/FranklinGothicURW - BookItalic.woff)
      format('woff'),
    url(/fonts/Franklin Gothic/FranklinGothicURW - BookItalic.woff2)
      format('woff2');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/Franklin Gothic/FranklinGothicURW - Light.woff) format('woff'),
    url(/fonts/Franklin Gothic/FranklinGothicURW - Light.woff2) format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/Franklin Gothic/FranklinGothicURW - Medium.woff)
      format('woff'),
    url(/fonts/Franklin Gothic/FranklinGothicURW - Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/Franklin Gothic/FranklinGothicURW - MediumItalic.woff)
      format('woff'),
    url(/fonts/Franklin Gothic/FranklinGothicURW - MediumItalic.woff2)
      format('woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Input Mono';
  src: url(/fonts/Input Mono/InputMono-Regular-.woff) format('woff'),
    url(/fonts/Input Mono/InputMono-Regular-.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono';
  src: url(/fonts/Input Mono/InputMono-Italic-.woff) format('woff'),
    url(/fonts/Input Mono/InputMono-Italic-.woff2) format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Input Mono';
  src: url(/fonts/Input Mono/InputMono-Bold-.woff) format('woff'),
    url(/fonts/Input Mono/InputMono-Bold-.woff2) format('woff2');
  font-weight: bold;
}
