@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/FranklinGothic/FranklinGothicURW-Book.woff) format('woff'),
    url(/fonts/FranklinGothic/FranklinGothicURW-Book.woff2) format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/FranklinGothic/FranklinGothicURW-BookItalic.woff)
      format('woff'),
    url(/fonts/FranklinGothic/FranklinGothicURW-BookItalic.woff2)
      format('woff2');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/FranklinGothic/FranklinGothicURW-Light.woff) format('woff'),
    url(/fonts/FranklinGothic/FranklinGothicURW-Light.woff2) format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/FranklinGothic/FranklinGothicURW-Medium.woff) format('woff'),
    url(/fonts/FranklinGothic/FranklinGothicURW-Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url(/fonts/FranklinGothic/FranklinGothicURW-MediumItalic.woff)
      format('woff'),
    url(/fonts/FranklinGothic/FranklinGothicURW-MediumItalic.woff2)
      format('woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Input Mono';
  src: url(/fonts/InputMono/InputMono-Regular-.woff) format('woff'),
    url(/fonts/InputMono/InputMono-Regular-.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono';
  src: url(/fonts/InputMono/InputMono-Italic-.woff) format('woff'),
    url(/fonts/InputMono/InputMono-Italic-.woff2) format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Input Mono';
  src: url(/fonts/InputMono/InputMono-Bold-.woff) format('woff'),
    url(/fonts/InputMono/InputMono-Bold-.woff2) format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Input Mono';
  src: url(/fonts/InputMono/InputMono-BoldItalic-.woff) format('woff'),
    url(/fonts/InputMono/InputMono-BoldItalic-.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
}
